<%- include ../layouts/header.ejs %>
<%- include ../layouts/nav.ejs %>

<div class="container">
	<h1>Course</h1>

	<br><br>
	<form method="POST" action="/course/store">
		
		<div class="form-group">
			<select name="student_id" class="form-control">
				<% students.forEach(function(student) { %>
				     <option value="<%= student.id %>"><%= student.name %></option>
				<% }); %>			
			</select>
		</div>


		<div class="form-group">
			<input type="text" name="course" placeholder="Course" class="form-control">
		</div>


		<div class="form-group">
			<input type="submit" name="submit" value="Store" class="btn btn-primary">
		</div>

	</form>

	<br><br>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Student</th>
				<th>Course</th>
			</tr>
		</thead>
		<tbody>
			<% courses.forEach(function(course) { %>
			     <tr>
			     	<td><%= course._student_id.name %></td>
			     	<td><%= course.course %></td>
			     	<td><a href="/course/edit/<%= course._id %>" class="btn btn-default">Edit</a></td>
			     </tr>
			<% }); %>
		</tbody>
	</table>
</div>

<%- include ../layouts/footer.ejs %>
